In [44]:
# Dependencies and Setup
import pandas as pd

# File to Load
exact_loc_csv = "lat_and_long.csv"
main_csv = "resources/red_and_white_combined.csv"

# Read lat_long data file and store into Pandas DataFrames
loc_df = pd.read_csv(exact_loc_csv)
df = pd.read_csv(main_csv)

In [45]:
loc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12429 entries, 0 to 12428
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       12429 non-null  int64
 1   winery     12429 non-null  object
 2   country    12429 non-null  object
 3   latitude   12429 non-null  float64
 4   longitude  12429 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 485.6+ KB

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12430 entries, 0 to 12429
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             12430 non-null  object
 1   Country          12430 non-null  object
 2   Region           12430 non-null  object
 3   Winery           12430 non-null  object
 4   Rating           12430 non-null  float64
 5   NumberOfRatings  12430 non-null  int64
 6   Price            12430 non-null  float64
 7   Year             12430 non-null  object
 8   Type             12430 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 874.1+ KB

In [47]:
df

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
0,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017,white
1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white
2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017,white
3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018,white
4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018,white
...,...,...,...,...,...,...,...,...,...
12425,6th Sense Syrah 2016,United States,Lodi,Michael David Winery,3.8,994,16.47,2016,red
12426,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016,red
12427,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,3.7,996,23.95,2010,red
12428,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019,red
12429,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016,red

In [48]:
loc_df

        name                     winery        country   latitude   longitude
0          1    Conte d'Attimis Maniago          Italy  46.009661   13.341692
1          2       Weinbau Uwe Schiefer        Austria  47.234046   16.348452
2          3          Krämer - Straight        Germany  47.234046   16.348452
3          4                  Luna Gaia          Italy  47.234046   16.348452
4          5                  Schneider        Germany  47.234046   16.348452
...      ...                        ...            ...        ...         ...
12424  12425       Michael David Winery  United States  38.115778 -121.371931
12425  12426                Le Mortelle          Italy  42.809894   10.944859
12426  12427  Château Cambon La Pelouse         France  45.000643   -0.628932
12427  12428                Yellow Tail      Australia  45.000643   -0.628932
12428  12429                  Salentein      Argentina  45.000643   -0.628932

[12429 rows x 5 columns]

In [49]:
# delete a single row by index value 0
df = df.drop(labels=0, axis=0)
df = df.reset_index()
df.head()

,index,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
0,1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white
1,2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017,white
2,3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018,white
3,4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018,white
4,5,Chardonnay 2019,Germany,Pfalz,Schneider,3.7,25,15.90,2019,white

In [50]:
df = df.drop(columns="index")
df.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
0,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white
1,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017,white
2,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018,white
3,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018,white
4,Chardonnay 2019,Germany,Pfalz,Schneider,3.7,25,15.90,2019,white

In [51]:
df = df.rename(columns={"Name": "name", "Country": "country", "Region": "region", "Winery": "winery", "Rating": "rating", "NumberOfRatings": "number_of_ratings", "Price": "price", "Year": "year", "Type": "type"})
df.head()

,name,country,region,winery,rating,number_of_ratings,price,year,type
0,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white
1,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017,white
2,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018,white
3,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018,white
4,Chardonnay 2019,Germany,Pfalz,Schneider,3.7,25,15.90,2019,white

In [52]:
loc_df = loc_df.drop(columns=["name", "country"])
loc_df.head()

                    winery   latitude  longitude
0  Conte d'Attimis Maniago  46.009661  13.341692
1     Weinbau Uwe Schiefer  47.234046  16.348452
2        Krämer - Straight  47.234046  16.348452
3                Luna Gaia  47.234046  16.348452
4                Schneider  47.234046  16.348452

In [53]:
new_df = pd.merge(df, loc_df, how="right", on="winery")
new_df

,name,country,region,winery,rating,number_of_ratings,price,year,type,latitude,longitude
0,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white,46.009661,13.341692
1,Tazzelenghe 2011,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.0,33,24.01,2011,red,46.009661,13.341692
2,Schioppettino 2012,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,3.5,38,13.90,2012,red,46.009661,13.341692
3,Schioppettino 2015,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,3.5,44,15.90,2015,red,46.009661,13.341692
4,Vignaricco 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,3.9,67,22.99,2010,red,46.009661,13.341692
...,...,...,...,...,...,...,...,...,...,...,...
121494,Barrel Selection Merlot 2018,Argentina,Uco Valley,Salentein,4.2,69,12.90,2018,red,45.000643,-0.628932
121495,Primus Malbec 2016,Argentina,Tunuyán,Salentein,4.3,726,42.00,2016,red,45.000643,-0.628932
121496,Numina Cabernet Franc 2016,Argentina,Mendoza,Salentein,4.0,796,26.27,2016,red,45.000643,-0.628932
121497,Primus Malbec 2017,Argentina,Tunuyán,Salentein,4.4,97,45.95,2017,red,45.000643,-0.628932
121498,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016,red,45.000643,-0.628932

In [54]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121499 entries, 0 to 121498
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   name               121499 non-null  object
 1   country            121499 non-null  object
 2   region             121499 non-null  object
 3   winery             121499 non-null  object
 4   rating             121499 non-null  float64
 5   number_of_ratings  121499 non-null  int64
 6   price              121499 non-null  float64
 7   year               121499 non-null  object
 8   type               121499 non-null  object
 9   latitude           121499 non-null  float64
 10  longitude          121499 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 11.1+ MB